
        <!-- Footer -->
            <footer id="footer">
                <p class="copyright">EIT Building Rm 565</p>
                <p class="copyright">College of Engineering and Information Technology</p>
                <p class="copyright">University of Arkansas at Little Rock</p>
				<p class="copyright">2801 S University Avenue</p>
				<p class="copyright">Little Rock, Arkansas 72204-1099</p>
				<p class="copyright">&copy; {{ .Site.Params.copyright }}</p>
			</footer>

			</div>
		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>
			{{ template "_internal/google_analytics_async.html" . }}

	</body>
</html>
